<div class="lg:mt-10 text-gray-600 lg:flex lg:justify-between">
  <div class="w-full">
    <h1
      class="font-extrabold text-[2.5rem] lg:text-[71px] w-10/12 text-gray-900 leading-none mb-[2rem] mt-[3rem]"
    >
      There is everything for everyone.
    </h1>
    <h2 class="lg:w-[585px] w-11/12 mb-[1.5rem]">
      We are working on a game-changing imporovements to how your shopping
      experience will be improved significantly.Start by entering your email
      address below and click
      <span class="font-bold text-black">Join Waitlist </span> for a position in
      our waitlist and get first hand information on when you can register
    </h2>
    <h1 class="lg:mt-[3rem] lg:mb-[4rem]">
      Don't worry,we have a strict rule against spamming..
    </h1>
    <div
      class="rounded-lg lg:border text-xs lg:text-lg lg:border-gray-300 flex flex-col gap-3 lg:flex lg:flex-row lg:w-[476px] lg:h-[72px] lg:p-2 mt-5"
    >
      <input
        type="text"
        placeholder="Enter your email address"
        class="outline-none p-2 border border-gray-300 lg:border-opacity-0 rounded-lg text-gray-500 w-full lg:w-full"
      />
      <button
        class="bg-blue-500 lg:p-2 rounded-lg text-white lg:font-bold font-semibold p-2 whitespace-nowrap text-normal w-full lg:w-full lg:h-[56px]"
      >
        Join Waitlist
      </button>
    </div>
    <div class="flex flex-row gap-5 py-5 ml-3">
      <input type="checkbox" class="text-gray-400" />
      <h2>Join newsletter as well</h2>
    </div>
  </div>
  <div class="lg:py-5 w-full flex justify-end">
    <div>
      <!-- <img
        src="/assets/public/Card1.png"
        alt="waitlist image"
        class="rounded-lg"
      /> -->
      <img
        src="/assets/public/Image5.jpg"
        alt="waitlist image"
        class="rounded-lg"
      />
    </div>
  </div>
</div>
